HUGGINGFACE_API_KEY=
IPINFO_TOKEN=
STRIPE_SECRET_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYFAST_MERCHANT_ID=
PAYFAST_MERCHANT_KEY=
PAYFAST_PASSPHRASE=
PAYFAST_MODE=sandbox
FNB_ACCOUNT_NAME=
FNB_ACCOUNT_NUMBER=
FNB_BRANCH_CODE=
AFRICAN_BANK_ACCOUNT_NAME=
AFRICAN_BANK_ACCOUNT_NUMBER=
AFRICAN_BANK_BRANCH_CODE=
